<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <!--<add name="PublicEntities" connectionString="Data Source=(local)\DSLAPTOP2008;Initial Catalog=360Public;User ID=sa;Password=master" providerName="System.Data.SqlClient" />-->
    <add name="PublicEntities" connectionString="Data Source=(local)\DSLAPTOP2008;Initial Catalog=Public360;User ID=sa;Password=master" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
